<div class="component-container">
    <div class="login-container">
        <p class="form-title">Créer votre compte</p>
        <div class="form-container">
            <div class="info-container">
                <form action="" method="post">
                    <input type="email" class="input" placeholder="Email..." id="email">
                    <input type="text" class="input" placeholder="Username..." id="user_name">
                    <input type="password" class="input" placeholder="Password..."id="password">
                    <div class="d-flex justify-content-center p-2">
                        <button type="button" class="btn-signIn" id="btnValide"
                            (click)="addUser()">Inscription</button>
                    </div>
                    <p class="messageSignIn"> Vous avez déjà un compte ?
                        <a [routerLink]="['/login']">
                            Connectez-vous
                        </a>
                    </p>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="./inscription.component.ts"></script>