<div class="component-container">
    <div class="login-container">
        <p class="form-title">Connectez-vous à votre compte</p>
        <div class="alert alert-danger d-block mx-3" role="alert" *ngIf="errorMessage">
            <i class="bi bi-exclamation-triangle-fill"></i>
            {{ errorMessage }}
        </div>
        <div class="form-container">
            <div class="info-container">
                <form action="" method="get" class="px-center">
                    <input type="email" class="input" placeholder="Email..." id="email">
                    <input type="password" class="input" placeholder="Mot de passe..." id="password">
                        <button type="button" class="btn-login" (click)="login()">Connexion</button>
                        <p class="messageSignIn">Vous n'avez pas de compte ?
                            <a [routerLink]="['/suscribe']"> Inscrivez-vous</a>
                        </p>
                </form>
            </div>
        </div>
    </div>
</div>