<div class="container-fluid component-container py-5">
    <!-- Conteneur principal -->
    <div class="row justify-content-center">
        <!-- Ligne pour aligner au centre -->
        <div class="col-12 col-md-8 col-lg-6">
            <!-- Colonne pour les tailles d'écran -->
            <div class="card login-container p-4 shadow-sm"><!-- Carte de connexion -->
                <p class="form-title text-center fs-4">Connectez-vous à votre compte</p><!-- Titre du formulaire -->
                <div class="alert alert-danger mx-3" role="alert" *ngIf="errorMessage"><!-- Alerte d'erreur -->
                    <i class="bi bi-exclamation-triangle-fill"></i><!-- Icône d'alerte -->
                    {{ errorMessage }} <!-- Message d'erreur -->
                </div>
                <div class="form-container"><!-- Conteneur du formulaire -->
                    <div class="info-container"><!-- Conteneur des informations -->
                        <form action="" method="get" class="px-3"><!-- Formulaire -->
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Email..." id="email"> <!-- Champ pour l'email -->
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Mot de passe..." id="password"> <!-- Champ pour le mot de passe -->
                            </div>
                            <div class="d-grid">
                                <button type="button" class="btn btn-primary btn-login" (click)="login()">Connexion</button> <!-- Bouton de connexion -->
                            </div>
                            <p class="text-center mt-3 messageSignIn">
                                <!-- Message action -->
                                Vous n'avez pas de compte ?
                                <a [routerLink]="['/suscribe']">Inscrivez-vous</a> <!-- lien vers la page d'inscription -->
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
