<section class="text-center p-5">
    <!-- Conteneur principal avec marges intérieures et centrage du contenu -->
    <div class="w-100 w-md-75 mx-auto p-1 px-2 rounded bg-white bg-opacity-50" style="height: auto;">
        <!-- Boîte de contenu avec fond blanc semi-transparent -->

        <!-- Titre centré -->
        <div class="col text-center">
            <span class="fs-2 fw-semibold text-white text-shadow">Recherche</span>
        </div>

        <!-- Formulaire de recherche -->
        <form action="" method="post">
            <!-- Zone de saisie pour la recherche -->
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center my-3 px-3">
                <input class="form-control mb-3 mb-md-0 me-md-1" list="datalistOptions" id="exampleDataList"
                    placeholder="Entrer votre ville..." name="state" [(ngModel)]="stateName"
                    (ngModelChange)="getDataByCityName($event); getInseeOfState($event)">
                <!-- Utilisation de ngModel pour lier la valeur de l'input à la variable stateName dans le composant Angular -->

                <!-- Datalist pour afficher les options de ville -->
                <datalist id="datalistOptions">
                    <!-- Utilisation de *ngFor pour itérer sur CityData et afficher les options -->
                    <div *ngFor="let city of CityData">
                        <option value="{{city.nom}}">
                    </div>
                </datalist>
            </div>

            <!-- Bouton de soumission du formulaire -->
            <button type="submit" class="btn btn-primary w-50 w-md-25" (click)="search_weather()">Submit</button>
            <!-- Appel de la méthode search_weather() lors du clic sur le bouton -->
        </form>
    </div>
</section>