<section class="text-center p-5">
    <div class="w-100 w-md-75 mx-auto p-1 px-2 rounded bg-white bg-opacity-50" style="height: auto;">
        <div class="col text-center">
            <span class="fs-2 fw-semibold text-white text-shadow">Recherche</span>
        </div>
        <form action="" method="post">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center my-3">
                <input class="form-control mb-3 mb-md-0 me-md-1" list="datalistOptions" id="exampleDataList" placeholder="Entrer votre ville..." name="state" [(ngModel)]="stateName" (ngModelChange)="getDataByCityName($event); getInseeOfState($event)">
                <datalist id="datalistOptions">
                    <div *ngFor="let city of CityData">
                        <option value="{{city.nom}}">
                    </div>
                </datalist>

                <span class="span mb-3 mb-md-0">ou</span>
                <input type="number" maxlength="5" class="form-control mb-3 mb-md-0 me-md-1" placeholder="Code postal" title="Entrez un code postal valide">
            </div>
            <button type="submit" class="btn btn-primary w-50 w-md-25" (click)="search_weather()">Submit</button>
        </form>
    </div>
</section>
